<h2>会員一覧</h2>

<diV>
  <table>
    <thead>
      <tr>
        <td>会員ID</td>
        <td>氏名</td>
        <td>メールアドレス</td>
        <td>ステータス</td>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |f| %>
      <tr>
        <td><%= f.id %></td>
        <td>
          <%= link_to admin_customer_path(f.id) do %>
            <%= f.name %>
          <% end %>
        </td>
        <td><%= f.email %></td>

        <% if f.is_deleted %>
        <td class = "is_deleted_true">退会</td>
        <% else %>
        <td class = "is_deleted_false">有効</td>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</diV>