<h2>ジャンル一覧・追加</h2>

<%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
<table>
  <tr>
    <td>ジャンル一覧</td>
    <td><%= f.text_field :name, :placeholder => "ジャンル名" %></td>
    <td><%= f.submit '新規登録', class:"btn btn-success" %></td>
  </tr>
</table>
<% end %>
