<div class = "genres_sidebar" >
  <table>
    <thead>
      <tr>
        <th>
          ジャンル検索<br>
          (※リンクのみ)
        </th>
      </tr>
    </thead>
    <tbody>
      <% genres.each do |g| %>
      <tr>
        <td>
          <%= link_to do %>
            <%= g.name %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>