<div class = "genres_sidebar" >
  <table>
    <thead>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    </thead>
    <tbody>
      <% genres.each do |g| %>
      <tr>
        <td>
          <%= link_to items_path(g.id)  do %>
            <%= g.name %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>